body{
font-family: 'Source Sans Pro', sans-serif;
font-size: 18px;
background-color: brown;
}

footer {
        position: relative;
        height: 300px;
        width: 100%;
        background-color: #333333;
    }

    p.copyright {
        position: absolute;
        width: 100%;
        color: #fff;
        line-height: 40px;
        font-size: 0.7em;
        text-align: center;
        bottom:0;
    }
