{% extends 'base.html' %}

{% block content %}

<div class="container fluid">

    <h1>Result</h1>

    <p>
        <h5>
            Symptoms
        </h5>
Cream to pale yellow bacterial ooze appears soon after the pseudostem is cut. <br>
A shrivelled male bud and uneven ripening of the fruit are typical symptoms. <br>
The fruits rot and stay on the stalk. The discouloration of the pulp ranges from brown to black. <br>

    </p>
    <h5>Effects</h5>
    <p>
        Mechanical water blockage. <br>
        Law matooke bunch production
    </p>

</div>




{% endblock content %}



















